<wm-page name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">
            <wm-button class="btn-default" caption="Button2" type="button" margin="unset 0.5em" name="button1" badgevalue="abcd"></wm-button>
            <wm-prefab prefabname="youtube" name="youtube1"></wm-prefab>
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="abcd" badgevalue="abcd" hint="xyz" show="true"></wm-button>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>